<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buy</title>
    <style>
      body { color: #070707; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
      Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-align: center; } table { margin: 0 auto; }
    </style>
  </head>
  <body>
    <h1>Oi {{name}}!</h1>
    <h3>Obrigado Pela Compra.</h3>
    <p>ID da compra: {{buyId}}</p>
    <p>Data da compra: {{date}}</p>
    <table>
      <tr>
        <th>Produto</th>
        <th>Preço</th>
      </tr>
      {{#each products}}
        <tr>
          <td>{{this.name}}</td>
          <td>R${{this.price}}</td>
        </tr>
      {{/each}}
      <tr>
        <td>
          Total:
        </td>
        <td>
          R${{amount}}
        </td>
      </tr>
    </table>
  </body>
</html>