<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recovery</title>
    <style>
      body { color: #070707; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
      Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-align: center; } h1, h3, p { text-align: center; } p {
      overflow-wrap: break-word; box-sizing: border-box; margin: 0 20%; }
    </style>
  </head>
  <body>
    <h1>Oi {{name}}</h1>
    <h3>Token de recuperação válido por uma hora:</h3>
    <p><strong>Código: </strong>{{token}}</p>
  </body>
</html>